.center-image{
    display: flex;
    justify-content:center; 
   
    text-align:center; 
    height:350px;
    width: 500px;

}
.image{
    align-items: center;  
    justify-content:center; 
   
    text-align:center;
    height:350px;
    width:500px;
}
.button{
    color: rgb(33, 37, 41);;
    display: flex;
    align-items: center;  
    justify-content:space-evenly
}
.card-body{
    display:inline;
}
